* {
    box-sizing: border-box;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
#navigation ul{
    font-family: sans-serif;
    margin: 0;
    background-image: url("Images/Header\ background.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 100px;
    background-position: center;
}

#navigation li{
    display: inline;
    font-size: 1.3em;
    padding: 0 1%;
}

#navigation a:hover{
    background-color:#fff;
    color: #000;
}

#navigation a {
    margin-top: 50px;
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.4s ease;
}

#navigation {
    text-align: center;
    font-weight: strong;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

#Downloads li {
    font-size: 1.2em;
    padding-bottom: 10px;
}
#Downloads a {
    color: rgb(65, 102, 100);
}
#Downloads a:hover {
    background-color:rgb(84, 231, 54)
}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: black;
    background-size: 100%;
    background-color: gray;
    padding: 20pt;
}

:hover {

}

.container-1 {
    display: flex;
}

.box-1 {
    flex: 1;
    order: 1;
    background-image: url(../image_1.jpg);
    height: 400pt;
    background-size: cover;
    text-align: right;
    background-repeat: no-repeat;
    width: auto;
    flex-basis: 15%;
    justify-content: space-between;
    padding: 2%;
}

.box-2 {
    flex: 1;
    order: 2;
    align-self: flex-start;
    flex-basis: 85%;
    padding: 2%;
    height: 400pt;
}
